# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
logs

# vscode
.vscode

# gradle
build
.gradle

# other
eclipse
run
runs
run-data
libs

# Files from Forge MDK
forge*changelog.txt
