# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
logs

# gradle
build
.gradle
logs

# other
eclipse
run
libs

# Files from Forge MDK
forge*changelog.txt
